{% include 'navigation.html' %}
<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>MyWardrobe - Početna</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Dobrodošli u MyWardrobe</h1>
        <p class="mt-3">U ovom web servisu lako možete organizirati Vaš "virtualni ormar" na način da možete dodati nove odjevne komade u Vašu kolekciju, pregledati, urediti i obrisati postojeće, filtrirati ih te vidjeti koliko komada koje kategorije odjeće posjedujete.</p>
    </div>
</body>
</html>
